{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}


[diff]
    pager = "delta"

[git]
    autoCommit = true
    autoPush = true
